@import "../../vars.scss";

.logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;

  @media screen and (max-width: 760px) {
    width: 44px;
    height: 44px;
  }
}
.navbar {
  width: 518px;
  height: 126px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;

  ul{
    display: flex;
    gap: 15px;
    list-style: none;
  
  }


  @media screen and (max-width: 760px) {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateY(-110%);
    background-color: $light-bg;
    width: 282px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 80px 0 0 40px;
    align-items: start;
    transition: all 0.4s; 

    button{
      margin-top: 20px;
      
    }
    
    ul {
      flex-direction: column;
    }
    &.dark {
      background-color: $dark-cl;
    }
    &.active {
        transform: translateY(0%);
      }

    ul li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    
  }
.btn{
    margin-bottom: 12px;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: $radius-small;
    background-color: $green-cl;
    font-weight: 600;
    border: none;
    font-size: 16px;
    line-height: 20.16px;
    text-align: center;
}
  @media screen and (max-width: 360px) {
    width: 222px;
  }
}
.navbar a {
  color:var(--light-dark-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 20.8px;
  }
}

.header {
  max-width: 100%;
  max-height: 128px;
  background-color: $light-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-second-cl;
  padding: 30px 40px;

  @media screen and (max-width: 1000px) {
    padding: 30px 20px;
  }

  @media screen and (max-width: 760px) {
    padding: 12px 12px  12px 20px;
  }
}

.header {
  background-color: var(--light-dark-bg);

  a {
    color: var(--light-dark-cl);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.heartCartWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

a.active {
  color: $green-cl;
  
}
.heart,
.cart {
  path {
    stroke: var(--second-light-dark-cl);
    stroke-linejoin: round;
  }
}



.heart,
.cart {
  @media (max-width: 768px) {
    width: 44px;
    height: 34px;
  }
}
