@import "../../vars.scss";

.form {
  // Green background
  flex: 1;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 32px;
  margin-top: 24px;
  & .full_width {
    padding: 0;
  }
  @media screen and (max-width: 1000px) {
    padding: 0 20px 32px 0;
  }

  input {
    padding: 16px 32px;
    border-radius: $radius-small;
    width: 100%;
    border: 1px solid $light-bg;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background-color: transparent;
    outline: none;
    color: $light-cl;
    &::placeholder {
      color: $light-cl;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }

  .input_wrapper:not(:last-child) {
    margin-bottom: 10px;
  }
  .input_wrapper {
    display: flex;
    flex-direction: column;
  }
  .message {
    color: red;
    margin-top: 5px;
  }

  &__button {
    padding: 16px 20px;
    background-color: #fff;
    color: $dark-cl;
    border: none;
    border-radius: $radius-small;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
  }
}
.form_container {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    190deg,
    rgba(135, 147, 61, 1) 0%,
    rgba(85, 97, 11, 1) 100%,
    #0b710b 0%,
    #339933 100%
  );
  border-radius: $radius-big;
  padding: 32px 0 0 0;
  margin-top: 80px;
  @media screen and (max-width: 1000px) {
    padding: 32px 0 0 0;
    margin-top: 60px;
  }

  @media screen and (max-width: 480px) {
    padding: 24px 0 0 0;
    margin-top: 56px;
  }
  h1 {
    color: $light-cl;
    font-weight: 700px;
    font-size: 64px;
    line-height: 70.4px;

    @media screen and (max-width: 768px) {
      font-size: 56px;
      line-height: 61.6px;
    }
    @media screen and (max-width: 480px) {
      font-size: 58px;
      line-height: 52.8px;
    }
    @media screen and (max-width: 479px) {
      font-size: 40px;
      line-height: 44px;
    }
  }
}
.form_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 32px;
}
.img_block {
  width: 60%;

  .img_block__img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .form_content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .img_block {
    width: 100%;
  }
  form {
    display: flex;
    width: 80%;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
