@import "../../vars.scss";

.product_card {
  display: flex;
  width: 100%;
  // margin-top: 32px;
  @media screen and (min-width:768px) {
     margin-top: 32px;
  }
}
.product_header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  @media screen and (max-width:768px) {
    margin-bottom: 20px;
};
   
  @media screen and (max-width:480px) {
       display: none;
  };
}

.gap_bottom{
  &:not(:last-child){
    margin-bottom: 32px;
  }
  @media screen and (max-width:768px) {
    &:not(:last-child){
      margin-bottom: 20px;
    }
    
};
}
%icon {
  right: 10px;
  width: 100px;
  height: 68px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

.heart {
  @extend %icon !optional;
  width: 100px;
  height: 40px;
  fill: #FFFFFF;
  &.checked{
   fill: $green-cl;
   
   path {
    stroke:none;
    fill: $green-cl;
   }
  }
}



.right_card {
  margin-left: 32px;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  gap: 32px;


}

.image_discount{
  position: absolute;
  right: 24px;
  top: 20px;
  display: none;
}

.product_image {
  width: 784px;
  height: 572px;
  position: relative;

  @media screen and (max-width:1200px) {
    width: 470px;
  }

  @media screen and (max-width:900px) {
      width: 350px;
      height: 400px;
  }

  @media screen and (max-width:768px) {
    width: 354px;
    height: 100%;
}
@media screen and (max-width:767px) {
  width: 100%;
  height: 256px;
}
@media screen and (max-width:480px) {
  width: 100%;
  height: 100%;
}

}
.product_image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.product_details {
  display: flex;
  flex-direction: column;

 
}
.product_title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.price_details {
  position: relative;
  width: 359px;
  height: 70px;
  color: var(--primary-cl);
  margin: 10px 0;
  display: flex;
   align-items: flex-end;
  font-weight: 700;
  font-size: 64px;
  line-height:70.4px;
  display: flex;
  align-items: flex-end;


 
}
del{
  text-decoration: line-through;
}

.price_details del {
  font-size: 18px;
  color: #999;
  margin-left: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-right: 30px;
}
.discount {
  background-color: $sale-cl;
  color: #fff;
  border-radius: $radius-small;
  width: 63px;
  height: 34px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  padding: 4px 8px;

}
.quantity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
 @media screen and (max-width:1000px) {
  .quantity_item{
    width: 175px;
  }
  .btn{
    width: 58px;
    height: 58px;
  }
  
 }
 @media screen and (max-width:768px) {
  .quantity_item{
    width: 200px;
  }
 }
 @media screen and (max-width:480px) {
  .quantity_item{
    width: 146px;
  }
  .btn{
    width: 47px;
    height: 47px;
  }
 }
}
.quantity_item{
  width: 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color:  inherit;;
  margin-right: 32px;

  @media screen and (max-width:1000px) {
    margin-right: 20px;
  }
}
.counter{
  display: inline-block;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom:1px solid $grey-cl;
  border-top:1px solid $grey-cl;
  color: var(--primary-cl);
}
.add_to_cart {
  background-color: $green-cl;
  color: white;
  padding: 16px 32px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
   width: 316px;
   height: 58px;
   &:hover{
    background-color: var(--primary-cl);
    color: var(--primary-bg);
  }
   @media screen and (max-width:1400px) {
      // widt
    height: 58px;
   
}


   @media screen and (max-width:1000px) {
       width: 275px;
       height: 58px;
   }
   @media screen and (max-width:768px) {
    width: 200px;
    height: 58px;
    padding: 1px 0;
}
// @media screen and (max-width:480px) {
//   width: 200px;
//   padding: 12px 20px;
//   height: 58px;
// }
}
.description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;

  @media screen and (max-width: 770px) {
      display: none;
  }
}
.description a {
  color: #4caf50;
  text-decoration: none;
}
.description a:hover {
  text-decoration: underline;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-top: 40px;
  width: 100%;

}
.small_size_description{
  display: none
}

.small_size_displayer{
  padding: 0 20px;
}
.discount_item{
 display: flex;
 align-items: flex-start;
  position: relative;
  flex-grow: 1;
  height: 100%;
}
.btn {
  border-radius: $radius-small;
  padding: 16px 8px 8px 16px;
  width: 58px;
  height: 58px;
  border: 1px solid $grey-cl;
  background-color: inherit;
  color: $grey-second-cl;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small_size_displayer{
  display: none;

  @media screen and (max-width: 480px) {
      display: flex;
  }
}



@media screen and (max-width:1000px) {
  .price_details{
    width: 347px;
  } 
  .price_details del{
    margin-left: 20px;
  }

}


@media screen and (max-width: 768px) {
   .product_title{
    font-size: 32px;
    line-height: 35.2px;
   }
   .price_details{
    width: 309px;
    del{
      font-size: 42px;
      line-height: 41.6px;
    }
  } 
  .right_card{
    margin-left: 20px;
  }
  .small_size_description{
    display: block;
  }
  .price{
    font-size: 56px;
    line-height: 61.6px;
  }

}

@media screen and (max-width: 767px) {
  .discount_item{
    
    display: none;
  }
  .image_discount{
    display: block;
  }
  .product_header{
    display: none;
  }
  .small_size_displayer{
    display: flex;
  }
  .quantity{
    width: 100%;
  }
  .price_details{
    width: 100%;
  }
}



@media screen and (max-width: 480px) {
  .product_title{
   font-size: 28px;
   line-height: 30.8px;
  }
  .product_details{
    width: 210px;
    height: 179px;
  }
  .price{
    font-size: 48px;
    line-height: 52.8px;
  }
  .price_details del{
    font-size: 28px;
    line-height: 36.4px;
  }

}

@media screen and (max-width: 471px) {
  .product_card{
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .product_image{
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
  }
  .left_card{
    display: flex;
    justify-content: center;
  }
  .product_title{
   font-size: 28px;
   line-height: 30.8px;
  }
  .product_details{
    width: 210px;
    height: 179px;
  }
  .price{
    font-size: 40px;
    line-height: 44px;
  }
  .price_details del{
    font-size: 28px;
    line-height: 36.4px;
  }
  .add_to_cart{
    width: 100%;
    height: 47px;
    
  }
  .quantity_item{
    width: 164px;
    margin: 0;
  }
  .quantity{
    width: 100%;
    justify-content: center;
  }
  .product_details{
    width: 100%;
  }
  .price_details{
    justify-content: center;
  }
  .description{
    margin-top: 20px;
  }
  .right_card{
    margin: 0;
  }
  .quantity{
    row-gap: 12px ;
  }
 
}