@import "./vars.scss";
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



body {
    background-color:var(--primary-bg);
    width: 100%;
    overflow-x: hidden;
   
    
}

main{
    height: 1000px;
}

p,h1,h2,h3,label{
    color: var(--primary-cl);
}