$light-bg: #fffff1;
$light-grey: #f2f6d3;
$light-cl: #ffffff;
$dark-cl: #424436;
$grey-cl: #DDDDDD;
$green-cl: #92a134;
$radius-small: 6px;
$radius-big: 12px;
$grey-second-cl: #8b8b8b;
$sale-cl: #f26d22;

:root {
  --primary-bg: #fffff1;            /* Основной фон */
  --primary-cl: #424436;            /* Основной цвет */
  --secondary-cl: #424436;          /* Вторичный цвет */
  --secondary-bg: #f2f6d3;          /* Вторичный фон */
  --card-bg: #FFFFFF;               /* Фон карточек */
  --crumbs-cl: #282828;             /* Цвет хлебных крошек */
  --border-primary: #DDDDDD;        /* Основной цвет границ */


  // --light-dark-bg: #fffff1;
  // --light-dark-cl: #424436;
  // --second-light-dark-cl: #424436;
  // --second-light-dark-bg: #f2f6d3;
  // --card-light-dark-bg: #FFFFFF;
  // --crumbs-light-dark-cl:#282828;
  // --border-primary: #DDDDDD;
}

.dark {
  --primary-bg: #424436;
  --primary-cl: #FFFFFF;
  --secondary-cl: #fffff1;
  --secondary-bg: #383a2c;
  --card-bg: #383a2c;
  --crumbs-cl: #FFFFFF;
  --border-primary: #8b8b8b;
}
