@import "../../vars.scss";



.container {
	width: 800PX;
	height: 400px;
	padding-top: 100px;
	margin: 0 auto;
    display: flex;
  justify-content: space-between;

}

.ball {
	width: 80px;
	height: 80px;
	margin: 180px auto;
	border-radius: 50px;
    background: var(--primary-cl);
}

.ball:nth-child(1) {
	// background: #ffffff;
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
	// background: #ffffff;
	-webkit-animation: left 1.1s infinite ease-in-out;
	-moz-animation: left 1.1s infinite ease-in-out;
	animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
	// background: #ffffff;
	-webkit-animation: right 1.05s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out;
	animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
	// background: #ffffff;
	-webkit-animation: left 1.15s infinite ease-in-out;
	-moz-animation: left 1.15s infinite ease-in-out;
	animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
	// background: #ffffff;
	-webkit-animation: right 1.1s infinite ease-in-out;
	-moz-animation: right 1.1s infinite ease-in-out;
	animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
	// background: #ffffff;
	-webkit-animation: left 1.05s infinite ease-in-out;
	-moz-animation: left 1.05s infinite ease-in-out;
	animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
	// background: #ffffff;
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;
}

@-webkit-keyframes right {
	0% {
		-webkit-transform: translateY(-15px);
	}
	50% {
		-webkit-transform: translateY(15px);
	}
	100% {
		-webkit-transform: translateY(-15px);
	}
}

@-webkit-keyframes left {
	0% {
		-webkit-transform: translateY(15px);
	}
	50% {
		-webkit-transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(15px);
	}
}

@-moz-keyframes right {
	0% {
		-moz-transform: translateY(-15px);
	}
	50% {
		-moz-transform: translateY(15px);
	}
	100% {
		-moz-transform: translateY(-15px);
	}
}

@-moz-keyframes left {
	0% {
		-moz-transform: translateY(15px);
	}
	50% {
		-moz-transform: translateY(-15px);
	}
	100% {
		-moz-transform: translateY(15px);
	}
}

@keyframes right {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(-15px);
	}
}

@keyframes left {
	0% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(15px);
	}
}